body {
    text-align: center;
    font-family: 'Unica One', cursive;
}

.title {
    font-family: 'Limelight', cursive;
    background-color: #013c5e;
    color: white;
    line-height: 61px;
    margin-top: 8%;
    margin-bottom: 0;
    font-size: 40px;
    text-align: center
}


#trainimage {
    height: 389px;
    position: relative;
    top: -410px;
    left: -320px;
    margin: 0px;
    z-index: 0;
}

#topPage {
    height: 336px;
    margin-top: 5%;
}

#jumbo {
    background-image: url('../images/gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    border-radius: 0px;
    text-align: right;
    /* border: 5px double black; */
}

.jumbotron h1 {
    position: relative;
    z-index: 1;
    font-family: 'Limelight', cursive;
    font-size: 75px;
}

.jumbotron p {
    position: relative;
    z-index: 2;
    font-family: 'Unica One', cursive;
    color:black;
}

.card {
    display: inline-block;
    background-color: #b5dce4;
    width: 210px;
    padding: 6px;
    box-shadow: 5px 5px #1d7284;
    margin: 10px;
    height: 100%;
}

.card:hover {
    background-color: #013c5e;
    box-shadow: 8px 8px grey;
    color: white;
}


.card h3 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    
}

.card a {
    text-decoration: none;
    color: #2f2e46;
    font-weight: bold;
}

.card a:hover {
    color: white;
}

#time {
    position: relative;
    z-index: 3;
    font-family: 'Fjalla One', sans-serif;
}

.form {
    text-align: left;
}

.form-control {
    margin: 2px;
}