body {
    text-align: center;
    font-family: 'Unica One', cursive;
}

.title {
    font-family: 'Monoton', cursive;
    background-color: #2f2e46;
    color:white;
    line-height: 30px;
    margin-top: 10%;
    margin-bottom: 0;
}

#currentTrainTimes {
    background-color: #aeabb7;
}

#trainimage {
    height: 380px;
    width: 734px;
    position: relative;
    top: -377px;
    left: -286px;
    margin: 0px;
    z-index: 0;
}

#topPage {
    height: 336px;
    margin-top: 5%;
}

#jumbo {
    background-image: url('../images/gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    border-radius: 0px;
    text-align: right;
    /* border: 5px double black; */
}

.jumbotron h1 {
    position: relative;
    z-index: 1;
    font-family: 'Monoton', cursive;
    font-size: 75px;
}

.jumbotron p {
    position: relative;
    z-index: 2;
    font-family: 'Unica One', cursive;
    color:black;
}

.card {
    display: inline-block;
    background-color: #ffffffa1;
    width: 170px;
    padding: 6px;
    box-shadow: 3px 3px #2f2e46;
    margin: 10px;
    height: 100%;
}

.card:hover {
 background-color: #af8aa4;
 color:white;
}


.card h3 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
}

.card a {
    text-decoration: none;
    color: #2f2e46;
    font-weight: bold;
}

#time {
    position: relative;
    z-index: 3;
    font-family: 'Fjalla One', sans-serif;
}

.form {
    text-align: left;
}

.form-control {
    margin: 2px;
}